.g-circles {
  fill: none;
  stroke-width: 20;

  .sector {
    stroke-dasharray: 304 374;
    transition: all 1s;
  }
}

.skill {
  padding: 10px;

  &__item {
    list-style: none;
  }

  &__progress {
    display: inline-block;
  }
}