.btn {
  font-family: 'Roboto Medium';
  transition: all .25s;
  text-decoration: none;
  color: $c0;
  border-radius: 20px;
  background-color: $c15;
  line-height: 1;
  border: none;
  padding: 15px 20px;
  position: relative;

  &.btn-link {
    padding: 15px 20px 15px 50px;
  }

  &:hover {
    background-color: darken($c15, 7);
  }
  &:active {
    background-color: lighten($c15, 7);
  }

  .svg-icon {
    position: absolute;
    top: 50%;
    left: 21px;
    width: 20px;
    height: 19px;
    transform: translateY(-50%);
    fill: $c0;
  }
}