.header {
  position: relative;
  height: 100vh;
  background: url(../img/water.jpg) no-repeat 0 0 / cover;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 0 auto;

  &__top-nav {
    width: 100%;
    padding: 28px;

    &_container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    .svg-icon {
      width: 100%;
      fill: #fff;
      opacity: .12;
    }
  }

  &__profile {
    z-index: 10;
  }

  &__arrow {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 50px;
    z-index: 10;

    @include breakpoint($s2) {
      bottom: 48px;
    }
    @include breakpoint($s3) {
      bottom: 70px;
    }
    &:hover {
      opacity: 1;
      .header__arrow_down {
        transform: translateY(5px);
        cursor: pointer;
        opacity: 1;
        fill: #447336;
      }
    }

    &_down {
      fill: #fff;
    }
  }
}