.section-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px 0;
  z-index: 10;

  &__title-bg {

    .svg-icon {
      position: absolute;
      width: 490px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 45%;
      fill: $c20;
      z-index: -1;
    }
  }

  &__title-text {
    @include header-font-style($c4, 60px);
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:after {
      @include after-line($c4, 90px);
    }
  }

}
