.social-icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: 25px;
  }

  &__link {
    display: block;
  }

  &_header {
    fill: $c0;
    width: 22px;
    height: 18px;

    @include breakpoint($s2) {
      width: 26px;
      height: 22px;
    }

    &:hover {
      cursor: pointer;
      fill: #447336;
    }
  }

  &_footer {
    @extend .social-icons_header;
    @include breakpoint($s2) {
      opacity: .7;
    }
  }
}