-
    var socialLinks = [
        {
            icon: 'vk',
            href: '#'
        },{
            icon: 'github',
            href: '#'
        },{
            icon: 'linkedin',
            href: '#'
        }
    ]

header.header
    .header__top-nav
        .header__top-nav__flex-container.inner
            include ../common/_social-icons
            include ../common/_nav
    .header__title-bg.title-bg
        +svg('portfolio_header','svg-portfolio_header-dims')
    .header__profile__flex-container.inner
        +profile('main')
    .header__button
        a.header__button_size_s.arrow-down(href='#')
            +svg('arrow_down','svg-arrow_down-dims')
    .header__buttom-bg
        +svg('bg','svg-bg-dims')