-
  var navItems = [
    {
      title: 'Мои работы',
      href: 'work.html'
    },{
      title: 'Блог',
      href: 'blog.html'
    },{
      title: 'Обо мне',
      href: 'about.html'
    },{
      title: 'Авторизация',
      href: 'login.html'
    }
  ]


ul(class='nav__list')
  each item in navItems
    li(class='nav__item')
      a(class='nav__link' href=item.href)= item.title