extends ../_template

block variables
  - var title = 'Work'
  -
    var reviewsData = [
      {
        text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
        name: 'Ковальчук Дмитрий',
        description: 'Основатель Loftschool',
        image: 'assets/img/review_dima.png'
      },
      {
        text: 'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
        name: 'Зар Захаров',
        description: 'Преподаватель',
        image: 'assets/img/review_zar.png'
      }
    ]

block main
  main.wrapper

    block header
      include ../common/_header-main

    block content
      section.slider
        +svg('bg', 'slider__top-bg')
        +sectionHeader('works_header', 'Мои работы', 'works', 'works-header')
        include work/_slider

      section.review
        +sectionHeader('about_header', 'Что обо мне говорят', 'review', 'about-header')
        .review__container
          .review__items
            +reviews(reviewsData)

        .review__feedback.feedback
          form.feedback__form.form
            .form__container
              +sectionHeader('', 'Связаться со мной', 'feedback')
              input.form__control.form__control_input(type=text placeholder='Имя')
              input.form__control.form__control_input(type=text placeholder='Email')
              textarea.form__control.form__control_textarea(placeholder='Ваше сообщение' rows='5')
            .form__btn-group
              +button('', 'submit', 'form__btn form__btn_submit', 'Отправить')
              +button('', 'button', 'form__btn form__btn_reset', 'Очистить')

        a(class='review__arrow-link' href='#')
          +svg('arrow_down', 'review__arrow')

    block footer
      include ../common/_footer




