.review {
  background: url(../img/contact_form_bg.png) no-repeat 0 0 / cover;
  background-position: center;
  padding-bottom: 390px;

  @include breakpoint($s2) {
    padding-bottom: 300px;
  }

  @include breakpoint($s3) {
    padding-bottom: 250px;
  }

  @include breakpoint($s4) {
    padding-bottom: 190px;
  }

  &__container {
    padding: 0 15px;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 31px;
    flex: 0 0 100%;

    @include breakpoint($s2) {
      margin-right: 7px;
      flex-basis: 366px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint($s3) {
      margin-right: 2px;
      flex-basis: 399px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__userpic {
    display: block;
    overflow: hidden;
    width: 55px;
    height: 55px;
    margin: 0 auto 18px;
    border-radius: 50%;

    @include breakpoint($s3) {
      width: 80px;
      height: 80px;
    }

    &_image {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    margin-bottom: 20px;
    padding: 0 10px;
    line-height: 1.6;
    position: relative;
    @include Roboto-Light-Italic;

    &-icon {
      position: absolute;
      top: -23px;
      left: 0;
      width: 75px;
      height: 61px;
      opacity: 0.1;
      fill: $c13;
    }
  }

  &__name {
    @include Roboto-Bold-Italic;
    color: $c12;
    text-align: center;
  }

  &__description {
    text-align: center;
    @include Roboto-Light-Italic;

    &:before {
      content: '\2014';
      padding: 0 5px;
      position: relative;
    }
  }

  &__arrow-link {
    display: block;
    width: 26px;
    height: 16px;
    margin: 0 auto 40px;
    transition: all .25s;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__arrow {
    display: block;
    width: 26px;
    height: 16px;
    transform: rotate(180deg);
    fill: $c0;
  }
}
