.slider {
  position: relative;

  &__top-bg {
    position: absolute;
    top: -190px;
    width: 100%;

    .svg-icon {
      width: 100%;
      fill: #fff;
    }
  }

  &__slide {
    display: flex;
    flex-direction: row;
    background: #f0efe9;
  }

  &__info, &__items {
    flex-basis: 50%;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 35px;

    &-text {
      display: inline-block;
      position: relative;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    position: relative;

    &-group {
      height: 200px;
      display: flex;
    }

    .btn-icon_size_m {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      z-index: 1;
      fill: #fff;
    }

    &-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}