.stack {
  color: #4e8839;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 18px;

  &__item {
    display: inline-block;

    &:last-child {
      .coma {
        display: none;
      }
    }
  }
}